*{
   padding: 0;
   margin: 0;
}

body{
    background-color: #c2c8c574;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER - LOGO */

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    padding: 10px;
}


header{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

h1 {
    padding: 10px 15px; 
    font-size: 50px;
    color: #000;
}

h1:hover{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}

a{
    text-decoration: none;
}

/* NAVBAR */
ul{
    list-style: none;
    display: flex;
    justify-content: end;
    font-size: 30px;
    margin: 0px 10px;
}

a li{
    display: flex;
    padding: 10px 15px;
    margin: 0;
    color: #000;
}

a:hover li{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}

.buscar{
    padding: 10px 15px;
    margin: 5px 10px;
}

.banner{
    width: 100%;
}

/* TITULO DOS, IMAGENES DE MEMES y TITULOS DE IMAGENES */

h2{
    padding: 10px 15px; 
    font-size: 27px;
    color: #000;
    text-align: center;
}

.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

h3{
    font-size: 25px;
    padding-top: 55px;
    color: #000;
}

.uno, .dos, .tres, .cuatro, 
.cinco, .seis{
    background-color: #c2c8c574;
    height: 300px;
    text-align: center;
    padding-top: 70px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.uno:hover{
    background-color: rgba(255, 0, 0, 0.800);
}

.dos:hover{
    background-color: rgba(255, 68, 0, 0.800);
}

.tres:hover{
    background-color: rgba(255, 255, 0, 0.800);
}

.cuatro:hover{
    background-color: rgba(0, 128, 0, 0.800);
}

.cinco:hover{
    background-color: rgba(0, 0, 255, 0.800);
}

.seis:hover{
    background-color: rgba(202, 0, 202, 0.800);
}

.memeuno, .memedos, .memetres,
.memecuatro, .memecinco, .memeseis{
    padding: 0 35px;
    height: 150px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* FOOTER */

footer{
    /* background-color: #784f97; */
    /* color: #000; */
    width: 100%;
    padding: 0;
}

.footer-contenedor{
    width: 100%;
}

.redes a{
    color: #000;
}

.redes{
    width: 100%;
    margin: auto;
    /* display: flex;
    flex-direction: column;*/
    font-size: 50px; 
    display: inline-block;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    text-align: center;
    border-radius: 20%;

}

.redes a:hover{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}


.grupodos{
    padding: 7px;
    text-align: center;
    font-style: italic;
}