*{
   padding: 0;
   margin: 0;
}

body{
    background-color: #c2c8c574;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER - LOGO */

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    padding: 10px;
}


header{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

h1 {
    padding: 10px 15px; 
    font-size: 50px;
    color: #000;
}

h1:hover{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}

a{
    text-decoration: none;
}

/* NAVBAR */
ul{
    list-style: none;
    display: flex;
    justify-content: end;
    font-size: 30px;
    margin: 0px 10px;
}

a li{
    display: flex;
    padding: 10px 15px;
    margin: 0;
    color: #000;
}

a:hover li{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}

.buscar{
    padding: 10px 15px;
    margin: 5px 10px;
}

.banner{
    width: 100%;
}

/* TITULO DOS, IMAGENES DE MEMES */

h2{
    padding: 10px 15px; 
    font-size: 27px;
    color: #000;
    text-align: center;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.uno, .dos, .tres, .cuatro, 
.cinco, .seis{
    background-color: rgb(123, 224, 103);
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memeuno, .memedos, .memetres,
.memecuatro, .memecinco, .memeseis {
    padding: 0 35px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

footer{
    background-color: #784f97;
    color: #fff;
}