*{
   padding: 0;
   margin: 0;
   text-transform: capitalize;
    text-decoration: none;
}

body{
    background-color: #c2c8c574;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER - LOGO */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(227, 230, 227, 0.4);
    /* box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1); */
    padding: 0px 7px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    padding: 10px 15px; 
    font-size: 20px;
    color: #000; 
}

header .logo:hover{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}

header .navbar{
    display: flex;
    justify-content: center;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 25px;
    padding: 20px;
    color: #000;
    /* display: block; */
    display: flex;
    /* text-align: left; */
    justify-content: center;
}

header .navbar ul li a:hover{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: rgba(227, 230, 227, 0.4);
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
    
}

header label{
    font-size: 30px;
    color: #000;
    cursor: pointer;
    display: none;
    margin-top: 20px;

}

.buscar{
    padding: 10px 15px;
    margin: 5px 10px;
    margin-top: 15px;
    border-radius: 15px;
    border-color: #000;
}

.banner{
    margin-top: 70px;
    width: 100%;
}

/* TITULO DOS, IMAGENES DE MEMES y TITULOS DE IMAGENES */

h2{
    padding: 10px 15px; 
    font-size: 27px;
    color: #000;
    text-align: center;
}

.contenedor{
    width: 100%;
    /* max-width: 1000px; */
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

h3{
    font-size: 25px;
    padding-top: 55px;
    color: #000;
}

.uno, .dos, .tres, .cuatro, 
.cinco, .seis{
    background-color: #c2c8c574;
    height: 300px;
    text-align: center;
    padding-top: 70px;
    border: 1px solid rgba(0, 0, 0, 0.378);
    border-radius: 15px;
}

.uno:hover{
    background-color: rgba(255, 0, 0, 0.800);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.543);
}

.dos:hover{
    background-color: rgba(255, 68, 0, 0.800);
    box-shadow: 0 0 20px rgba(255, 68, 0, 0.543);
}

.tres:hover{
    background-color: rgba(255, 255, 0, 0.800);
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.543);
}

.cuatro:hover{
    background-color: rgba(0, 128, 0, 0.800);
    box-shadow: 0 0 20px rgba(0, 128, 0, 0.543);
}

.cinco:hover{
    background-color: rgba(0, 0, 255, 0.800);
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.543);
}

.seis:hover{
    background-color: rgba(202, 0, 202, 0.800);
    box-shadow: 0 0 20px rgba(202, 0, 202, 0.543);
}

.memeuno, .memedos, .memetres,
.memecuatro, .memecinco, .memeseis{
    padding: 0 35px;
    height: 150px;
    background-size: cover;
    background-position: center;
    text-align: center;
    
}

.filtro{
    display: none;
}

/* FOOTER */

footer{
    /* background-color: #784f97; */
    /* color: #000; */
    width: 100%;
    padding: 0;
}

.footer-contenedor{
    width: 100%;
}

.redes a{
    color: #000;
}

.redes{
    width: 100%;
    margin: auto;
    /* display: flex;
    flex-direction: column;*/
    font-size: 50px; 
    display: inline-block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 20%;

}

.redes a:hover{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}


.grupodos{
    padding: 7px;
    text-align: center;
    font-style: italic;
} 

/* RESPONSIVE */

@media(max-width: 991px){
    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(227, 230, 227);
        border-top: 1px solid #000;
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background-color: rgba(227, 230, 227);
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }

    li input{
        display: none;
    }

    /* banner */

    .banner{
        max-width: 100%;
        margin-top: 106px;
    }
    /* h2 y grid */

    h2{
        padding: 5px 10px; 
        font-size: 20px;
        color: #000;
        text-align: center;
    }
    
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
    }
} 

