*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./src/wallpaperfondo.jpg);
    background-size: cover;
    min-height: 90vh;
}

/* NAV */

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    justify-content: end;
    font-size: 30px;
    margin: 0px 10px;
}

a li{
    display: flex;
    padding: 10px 15px;
    margin: 0;
    color: #000;
}

a:hover li{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}

/* FORM */

h2{
    color: #fff;
    margin: auto;
    width: 50%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.582);
    padding: 20px;
    text-align: center;
    border-radius: 24px;
    box-shadow: 19px 20px 8px -9px rgba(0, 0, 0, 0.2);

}

form{ 
    margin: auto;
    width: 50%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.582);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 24px;
    box-shadow: 19px 20px 8px -9px rgba(0, 0, 0, 0.2);
 } 

label{
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #ffff
}

input{
    /* display: flex; */
    padding: 5px;
    width: 100%;
    margin: 17px 0;
    font-size: 15px;
    border: none;
    border-radius: 20px;
}

input:focus{
    outline: none;
}

button{
    background: #ec38bc;
    border: 1px solid #000;
    border-radius: 20px;
    color: #fff;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    margin-top: 25px;
    cursor: pointer;
}

/* FORM JS */
.form-control.falla input{
    border: 0.2px solid #ff1100;
}

.form-control.ok input{
    border: 0.2px solid #08ff3d;
}

.form-control p{
    visibility: hidden;
    position: absolute;
    font-size: small;
    font-weight: 500;
    text-align: right;
    margin-bottom: 30px;
}

.form-control.falla p{
    visibility: visible;
    color: #ff1100;
}


/* FOOTER */

footer{
    /* background-color: #784f97; */
    /* color: #000; */
    width: 100%;
    padding: 0;
}

.footer-contenedor{
    width: 100%;
}

.grupodos{
    padding: 5px;
    text-align: center;
    font-style: italic;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
} 


/* RESPONSIVE */

@media(max-width: 991px){
    body{
        background-size: cover;
    }
}