*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    text-decoration: none;  
 }
 
 body{
     background-color: #c2c8c574;
     color: black;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

/* Header, logo y Navbar */
/* HEADER - LOGO */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 530px;
    background-color: rgba(227, 230, 227, 0.4);
    /* box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1); */
    padding: 0px 7px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    padding: 10px 15px; 
    color: #000; 
    text-decoration: none; 
}

h1{
    font-size: 45px; 
}

header .logo:hover{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}

header .navbar{
    display: flex;
    justify-content: center;
}

header .navbar ul{
    list-style: none;
    
}

header .navbar ul li{
    position: relative;
    float: left;

}

header .navbar ul li a{
    font-size: 25px;
    padding: 20px;
    color: #000;
    /* display: block; */
    display: flex;
    /* text-align: left; */
    justify-content: center;
    text-decoration: none; 
}

header .navbar ul li a:hover{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: rgba(227, 230, 227);
    display: none;
    padding-left: 0;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
    
}

header label{
    font-size: 30px;
    color: #000;
    cursor: pointer;
    display: none;
    margin-top: 20px;

}

.buscar{
    padding: 10px 15px;
    margin: 5px 10px;
    margin-top: 15px;
    border-radius: 15px;
    border-color: #000;
}

.banner{
    margin-top: 90px;
    width: 100%;
    height: 100%;
}

/* Imagenes */

.contenedor{
    margin-top: 35px ;
}

h2{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

h3{
    padding: 5px 10px; 
    font-size: 20px;
    color: #000;
    text-align: center;
}

article{
    padding: 0 50px;
    height: 400px;
    width: 100px;
    background-size: cover;
    background-position: center;
    text-align: center; 
}

p{
    font-size: 20px;
    text-align: center;
}

img{
    height: 150px;
}

h4{
    padding: 5px 10px; 
    font-size: 20px;
    color: #000;
    /* text-align: left; */
    margin-top: 25px;
}

.agregarCarrito{
    background: #ec38bc;
    border: 1px solid #000;
    border-radius: 20px;
    color: #000;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

#productos{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.contenedor article{
    position: relative;
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    border: 1px solid black;
    padding: 10px 10px 90px 10px;
    border-radius: 20px;
    transition: 1s;
}

.contenedor article:hover{
    box-shadow: 0 0 20px black;
}

/* CARRITO */

.shopping-cart-items {
    padding: 20px 0px;
  }
   
  .shopping-cart-header {
    border-bottom: 1px solid #ccc;
  }
   
  .shopping-cart-image {
    border-radius: 20px;
    margin-left: 30px;
  }
   
  .shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
  }

  .btn{
    margin-right: 50px;
  }
  
  .shopping-cart-item-title{
      padding-left: 40px;
  }

  .shpping-cart-total{
      min-height: 96px;
  }

/* FOOTER */

footer{
    /* background-color: #784f97; */
    /* color: #000; */
    width: 100%;
    padding: 0;
}

.footer-contenedor{
    width: 100%;
}

.redes a{
    color: #000;
    text-decoration: none;
}

.redes{
    width: 100%;
    margin: auto;
    /* display: flex;
    flex-direction: column;*/
    font-size: 50px; 
    display: inline-block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 20%;


}

.redes a:hover{
    background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    color: transparent;
}


.grupodos{
    padding: 7px;
    text-align: center;
    font-style: italic;
} 

@media(max-width: 991px){
    header{
        padding: 20px;
        background: none;
        position: absolute;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(227, 230, 227);
        border-top: 1px solid #000;
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background-color: rgba(227, 230, 227);
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }

    li input{
        display: none;
    }

    /* banner */

    .banner{
        max-width: 100%;
        margin-top: 106px;
    }
    /* h2 y grid */

    h2{
        padding: 5px 10px; 
        font-size: 20px;
        color: #000;
        text-align: center;
    }
    
    .contenedor{
        /* grid-template-columns: repeat(2, 1fr); */
        /* grid-template-rows: repeat(2); */
        margin-top: 5px;
    }

    button{
        margin-top: 10px;
    }

    img{
        height: 100px;
    }


    p{
        font-size: 17px;
    }
    
    h4{
        padding: 5px 10px; 
        font-size: 15px;
        color: #000;
        margin-top: 15px;
    }

    button{
        margin-top: 25px;
    }

    .redes{
        font-size: 25px;
    }
} 